<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
      <h2>Our Team</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px">
          <figure>
            <img src="../../assets/dekel.jpg" class="img-responsive" alt="" />
          </figure>
          <h3>TCHOUPE KENGNE DEKEL JUNIOR</h3>
          <p>Scrum master</p>
          <ul class="follow-us clearfix">
            <li>
              <a href="#"><i class="bi bi-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px">
          <figure>
            <img src="../../assets/aurel.jpg" class="img-responsive" alt="" />
          </figure>
          <h3>TOUKAM KAMGNIA AUREL EMMANUEL</h3>
          <p>Scrum team</p>
          <ul class="follow-us clearfix">
            <li>
              <a href="#"><i class="bi bi-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px">
          <figure>
            <img src="../../assets/ousman.jpg" class="img-responsive" alt="" />
          </figure>
          <h3>NJIKOUFON Mfochive ousmanou</h3>
          <p>Product owner</p>
          <ul class="follow-us clearfix">
            <li>
              <a href="#"><i class="bi bi-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px">
          <figure>
            <img src="../../assets/prisca.jpg" class="img-responsive" alt="" />
          </figure>
          <h3>GUIFFOU AKWETE WINNIE PRISCA</h3>
          <p>Scrum team</p>
          <ul class="follow-us clearfix">
            <li>
              <a href="#"><i class="bi bi-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
